*{
	padding:0;
	margin:0;
	font-family:Sans-serif;
}
.navbar{
	 background-color:#fb4b4b !important; 
	 margin-bottom:0 !important;
	/* background-image:url("img/business3.jpg"); */
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 18px;
}
.tab-content img{ 
	margin:0 auto; 
	display:block; 
	padding-bottom: 20px;
    padding-top: 10px;
}
.ban{
	 !important;
}
.navbar-nav li a{
    color:#fff !important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}
.img{
	width:100%;
	height:100%;
}
.log{
	position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%); 

}
.gallery .gal img {
    width: 100%;
	margin-top:20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.gallery .gal img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery img {
    border-radius: 5px;
}

.logo{
	height:30px;
	width:auto;
}
.modal-header{
	 background-color:#fb4b4b !important; 
}
.about{

color:#fb4b4b ; 
font-weight:600;

}
.bg-gray{
		background-color:#eee;
		padding:10px 5px;
	}
	.py-5 {
		padding-top:5px;
		padding-bottom:5px;
	}
	.bg-dark{
		background-color:#333;
		color:#fff;
	}
.serve{
	color:#333;
	margin:10px;
	
}
.chag{
	letter-spacing:0.5px;
	font-size:18px;
	
	line-height:28px;
}
.chage{
		letter-spacing:0.5px;
	font-size:16px;
	font-family:Sans-serif;
	line-height:24px;
}
.men
{
	position: absolute;
    top: 70%;
    left: 71%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%); 
}
.men1
{
	position: absolute;
    top: 60%;
    left: 66%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%); 
}
.foot{
	background-color:#4d4d4d;
	color:#fff;
	}
.card-customise{
		background: #fff;
		border-radius:5px;
		padding:20px;
		-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
.footer-links  a{
	color:#fff;
	text-decoration:none;
}
.footer-links  a:hover{
	color:#fb4b4b;
	text-decoration:none;
}

.banner-size img{
	width:100%;
	max-height:625px;
	overflow:hidden;
}
.menu-head{
	color:#fb4b4b;
	text-align:center;
}
.main{

	font-size:20px;
}
.footer-underline{
	border-bottom:2px solid #fb4b4b;
	width:80px;
	font-size:20px;
}
.phone{
	background-image:url("../img/banner-bg.jpg");
	border-radius:25px;
}
.image{
	padding-top:70px;
	width:100%;
	
}
.quo{
	font-size:30px;
	font-family:Arial;
	position:absolute;
	top:30%;
	left:40%;
	color:#fff;
	font-weight:bold;
}
.ul{
	list-style-type:none;
}

@media screen and (max-width: 767px) {
	.navbar-brand {
		max-width:50%; 
		max-height:50%;
	}
	.img{
	width:100%;
	height:50%;
}
.menu-head{
	text-align:center;
}

.log{
	position: absolute;
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
	font
}
.men
{
	position: absolute;
    top: 46%;
    left: 76%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%); 
}
.men1
{
	position: absolute;
    top: 36%;
    left: 71%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%); 
}

.quo{
	font-size:15px;
	font-family:Arial;
	position:absolute;
	top:13%;
	left:15%;
}


}