.hover-fold {
  background:#005238;
  height: 300px;
  margin: 0px auto;
  -moz-perspective: 1500;
  -webkit-perspective: 1500;
  perspective: 1500;
  position: relative;
  width:100%;
}
.hover-fold h4 {
  border-bottom: 3px double #fff;
  margin: 0 40px;
  padding: 3em 0 0.7em;
  color:#fff;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
}
.hover-fold .top {
  height: 50%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.hover-fold .top .face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.hover-fold:hover .top {
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.hover-fold .front {
  background: url(../images/aa.jpg) top;
  height: 100%;
  /*has to be 100% of .top */
  width: 100%;
}
.hover-fold .back {
  background: #005238;
  height: 100%;
  /*has to be 100% of .top */
  padding: 0 40px;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
}
.hover-fold .back p {
  margin: 0;
  color:#fff;
  font-size:1.15em;
  line-height:2em;
}
.hover-fold .bottom {
  background: url(../images/aa.jpg) bottom;
  height: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
}
.hover-fold .front1 {
  background-image: url("img/biryani.jpg") top;
}
.hover-fold .bottom1{
  background: url(../images/aa1.jpg) bottom;
}
.hover-fold .front2 {
  background: url(../images/aa2.jpg) top;
}
.hover-fold .bottom2{
  background: url(../images/aa2.jpg) bottom;
}
/*--content--*/
.content-top-top {
    padding: 6em 0;
}
.content-top {
    padding: 0em 0 4em;
}
.content-left h3{
	font-size:3em;
	color: #005238;
   font-family: 'Raleway', sans-serif;
   font-weight:700;
}
.content-left span{
	font-size:2em;
	color:#000;
}
.content-right p{
	font-size:1.15em;
	color:#777;
	line-height: 2em;
}
.content-left label {
    display: block;
    margin: 0.4em 0;
}
.content-left label:before,.content-left label:after{
	width: 45px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 1%;
    background-color: #97824b;
}
.content-left i{
	font-size:1em;
	color:#97824b;
}